* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 224, 224);
  color: rgb(64, 64, 64);
  padding: 0;
}

#logo {
  display: block;
  margin-bottom: 16px;
  padding: 16px;
  background-color: white;
}

#logo > img {
  display: block;
  width: 128px;
}

main {
  padding: 16px;
}

body, input {
  font: 16px "Karla", "Arial", sans-serif;
}

form, label, input {
  width: 100%;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  -webkit-appearance: initial;
  border: 2px solid rgb(64, 64, 64);
}

input[type="text"] {
  margin-bottom: 16px;
}

input[type="submit"], input[type="button"] {
  background-color: rgb(64, 64, 64);
  color: white;
  border: 0;
}